@charset "utf-8";

/* 
 * POMIT animation.css
 * 2024-10-21
 * 애니매이션용 트랜지션 모음
 */

.flashing {
	animation: flash 1.5s infinite;
}

@keyframes flash {

	0%,
	100% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}
}

.rotate:hover {
	animation: rotate 0.5s ease-in-out; /* 0.5초 동안 회전 */
}

/* 회전 애니메이션 정의 */
@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}