@charset "utf-8";

/* 
 * 포미트 - 서부 iPOS 공통 스타일시트
 * 작성자 : 김윤지
 * 작성일 : 2024.09.26
 * 임포트 파일 : 리셋, 부트스트랩, 폰트
 * 
 */

@import url(/css/bootstrap/dist/css/bootstrap.min.css);
@import url(/css/reset.css);

/*#################### 폰트 ####################*/
@import url(/fonts/NotoSansKR/NotoSansKR.css);
@import url(/fonts/Roboto/Roboto.css);
/*
@import url(/fonts/Material_Icons/Material_Symbols_Rounded.css);
*/

@import url(/css/variables.css);
@import url(/css/animation.css);
@import url(/css/extra-grid.css);

@import url(/css/incTop.css);
@import url(/css/incLeft.css);

/* @import url(/css/incRight.css); */

@import url(/css/modal.css);
@import url(/css/form.css);
@import url(/css/table.css);
@import url(/css/chart-custom.css);
@import url(/css/op-box.css);

@import url(/css/print.css);

/*#################### bootstrap overriding ####################*/
html, body {
	height: 100vh;
}

/* 맥스 너비 설정 */
@media only screen and (min-width: 1920px) {
	body, #unity-container, .modal, .b-modal {
		max-width: 1920px;
	}
	.modal {
		left: 0 !important;
	}
}

/*#################### Typography ####################*/
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
	color: var(--bs-heading-color);
}

h1,
.h1 {
	font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1400px) {

	h1,
	.h1 {
		font-size: 2.5rem;
	}
}

h2,
.h2 {
	font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1400px) {

	h2,
	.h2 {
		font-size: 2rem;
	}
}

h3,
.h3 {
	font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1400px) {

	h3,
	.h3 {
		font-size: 1.75rem;
	}
}

h4,
.h4 {
	font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1400px) {

	h4,
	.h4 {
		font-size: 1.5rem;
	}
}

h5,
.h5 {
	font-size: 1.25rem;
}

h6,
.h6 {
	font-size: 1rem;
}

/*#################### Typography ####################*/
.title-box {	
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.title-box > * {
	margin-bottom: 1rem;    
    display: flex;
    align-items: center;
}

.title-box > *:not(:only-child) {
	margin-bottom: .5rem;
}
/* 
.title-box > div:not(:only-child) > [class*='title']:only-child,
.title-box [class*='title']:not(:only-child) {
	margin-top: 0;
	margin-bottom: 0;
	margin-right: .5rem;
}
 */
.title-box .page-move {
	margin-right: .25rem;
}
.title-box .page-move + .btn-box {
	margin-bottom: 0;
}
.title-box .btn-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	margin-top: 0;
}

.title-box .btn.disabled {
	color: var(--white-800);
}
	

@media (min-width: 768px) {
/* 
	.title-box > div {
		padding: 0;
	}
	
	.title-box > div > div:not(.btn-box) {
		padding: 0 .5rem;
	}

	.title-box .btn {
		margin-top: 0;
	}
	.title-box [class*='title'],
	.title-box [class*='btn-'],
	.title-box [class*='form-'] {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	} */
}

.message-box {
	display: block;
	margin: .25rem 0;
	
	color: var(--text-brand-tertiary);
	border-radius: var(--bs-border-radius);
	background-color: var(--bs-info-bg-subtle);
	padding: .25rem .5rem;
}

@media (min-width: 1024px) {
	.message-box {
		display: inline-block;
		margin: 0 .25rem;
	}
}

.title02 {
	font-size: 21px;
	font-weight: 700;

	color: var(--text-neutral-default);
	position: relative;

	padding-left: .75rem;
}

.title02::before {
	content: '';

	display: block;
	width: 6px;
	height: 20px;
	border-radius: 4px;
	background-color: var(--bg-brand-default);

	position: absolute;
	left: 0;
	top: 3px;
}

.title03 {
	font-size: 19px;
	font-weight: 700;

	color: var(--text-neutral-default);
	position: relative;
	padding-left: .75rem;

	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

.title03:first-child,
input[id="facilityRefList"] + .title03 {
	margin-top: 0;
}

.title03::before {
	content: '';
	display: block;
	width: 6px;
	height: 6px;
	border-radius: 4px;
	background-color: var(--bg-brand-default);
	position: absolute;
	left: 0;
	top: 2px;
}

.title03::after {
	content: '';
	display: block;
	width: 6px;
	height: 10px;
	border-radius: 4px;
	background-color: var(--bg-brand-secondary);
	position: absolute;
	left: 0;
	top: 11px;
}

.title04 {
	font-size: 17px;
	font-weight: 700;

	color: var(--text-neutral-default);
	position: relative;
	padding-left: .75rem;

	margin-top: 1.5rem;
	margin-bottom: .875rem;
}

.title04::before {
	content: '';

	display: block;
	width: 6px;
	height: 6px;
	border-radius: 4px;
	background-color: var(--bg-brand-defaulthover);

	position: absolute;
	left: 0;
	top: 3px;
}

.title04::after {
	content: '';

	display: block;
	width: 6px;
	height: 6px;
	border-radius: 4px;
	background-color: var(--bg-brand-default);

	position: absolute;
	left: 0;
	top: 11px;
}

[class*="title"] > small {
	font-weight: 400;
	font-size: 14px;
	margin-left: 4px;
}

.title05 {
	font-size: 16px;
	font-weight: 700;
	position: relative;
	padding-left: .75rem;
	color: var(--text-default-default);
	
	margin-top: 1rem;
}

.title05::before {
	content: '';

	display: block;
	width: 6px;
	height: 16px;
	border-radius: 4px;
	background-color: var(--bg-brand-secondaryhover);

	position: absolute;
	left: 0;
	top: 1px;
}

.title06 {
	font-size: 15px;
	font-weight: 700;
	color: var(--text-default-default);
	position: relative;
	display: inline-block;
}
.title06::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;

	display: block;
	width: 100%;
	height: 1px;
	background-color: var(--border-default-tertiary);
}

.title07 {
	color: var(--text-neutral-default);
	font-size: 15px;
	font-weight: 700;
}

/*#################### Accessories ####################*/
/* line-bar */
.line-bar {
	position: relative;
}

[class*="line-bar"]::before,
[class*="line-bar"]::after {
	content: '';

	width: 1px;
	height: 100%;

	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.line-before::before {
	left: 0;
	display: block;
	background-color: var(--bg-neutral-tertiary);
}

.line-after::after {
	right: 0;
	display: block;
	background-color: var(--bg-neutral-tertiary);
}

.line-H12::before,
.line-H12::after {
	height: 12px;
}

.line-H16::before,
.line-H16::after {
	height: 16px;
}

.line-H20::before,
.line-H20::after {
	height: 20px;
}

.line-H24::before,
.line-H24::after {
	height: 24px;
}

/* 준비중입니다. */
.not-ready {
	min-height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;

}

/* 스크롤 */
.overflow-y-box {
	overflow-x: hidden;
	overflow-y: scroll;
}

/*#################### Buttons ####################*/
.btn {
	border-radius: .25rem;
	white-space: nowrap;
}
/*
.btn:has([class*='material-']) {
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn > [class*='material-symbols-']:first-child + *:not(.visually-hidden-focusable),
.btn > [class*='material-symbols-']:first-child + *:not(.visually-hidden) {
	margin-left: .25rem;
}
*/

.btn.btn-sm {
	font-size: .9375rem;
}
/*
.btn.btn-sm > [class*='material-symbols-'] {
	font-size: 20px;
	padding-top: 0;
}
*/

.btn.btn-xs {
	font-size: .875rem;
	padding: 0 .375rem;
	border-radius: .125rem;
}

/* 2025.03.19 아이콘 변경 */
.btn .material-symbols-rounded {
	display: none;
}

/* 2단계 팝업 닫기버튼 */
.modal-header .btn.close {
	border-radius: 100px;
	width: 32px;
	height: 32px;

	background-color: var(--bg-brand-darkhover);
	opacity: 1;

	background-image: url("/images/icons/icon-close-white.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px;
	margin: 0;
	padding: 0;
}
.modal-header .btn.close:hover {
	background-color: var(--bg-brand-default);
	animation: rotate .5s linear 1;
}

/* 검색버튼 */
.search-box .btn.btn-primary:has([class*='material-symbols-']) {
	background-image: url("/images/icons/material-icon-search-white.svg");
	background-repeat: no-repeat;
	background-size: 24px;
	background-position: calc(50% - 32px) center;
}

@media(min-width: 768px) {
	.search-box .btn.btn-primary:has([class*='material-symbols-']) {
		background-position: left 6px center;
		padding-left: 32px;
	}
}

/* tm-add */
.btn.btn-tm-add {
	background-image: url("/images/icons/icon-confirmation_number-white.svg");
	background-repeat: no-repeat;
	background-size: 24px;
	background-position: left 6px center;
	padding-left: 32px;
}

.btn.btn-tm-add>[class*='material-symbols-'],
.table td > .btn.btn-sm>[class*='material-symbols-'],
.btn.move-to-3D>[class*='material-symbols-'],
.search-box .btn.btn-primary>[class*='material-symbols-'] {
	/* margin-right: .25rem; */
	display: none;
}

/* 3d-move */
.btn.move-to-3D {
	background-image: url('/images/icons/icon-view_in_ar-white.svg');
	background-repeat: no-repeat;
	background-size: 24px;
	background-position: left 6px center;
	padding-left: 32px;
}

.table[aria-label="설비정보"] td > .btn.btn-sm > span {
	position: absolute;
	top: -9999em;
	left: -9999em;
	text-indent: -9999em;
	
	width: 0;
	height: 0;
}
.table[aria-label="설비정보"] td > .btn.btn-sm.move-to-3D {
	background-image: url('/images/icons/icon-view_in_ar-white.svg');
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: center;
	width: 24px;
	height: 24px;
}

.table[aria-label="설비정보"] td > .btn.btn-sm.move-to-pano {
	background-image: url('/images/icons/icon-vrpano-white.svg');
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: center;
	width: 24px;
	height: 24px;	
}

/* cctv */
.btn.btn-outline-primary.move-to-3D {
	background-image: url("/images/icons/icon-view_in_ar-blue.svg");
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: left 6px center;
	padding-left: 32px;	
}
.btn.btn-outline-primary.move-to-3D:hover {
	background-image: url("/images/icons/icon-view_in_ar-white.svg");
}

/* download */
.btn.btn-file-download {
	background-image: url('/images/icons/icon-file-download.svg');
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: left 8px center;
	padding-left: 28px;
}

.btn.btn-download {
	background-image: url('/images/icons/icon-download-white.svg');
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: left 8px center;
	padding-left: 28px;
}

/* chart icon */
.btn-chart {
	background-image: url('/images/icons/icon-ssid_chart-blue.svg');
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: left 8px center;
	padding-left: 28px;
}
.btn-chart:hover {
	background-image: url('/images/icons/icon-ssid_chart-white.svg');
}

/* icon-attach */
.icon-attach {
	font-size: 0;
	text-indent: -9999em;
}
.icon-attach {
    width: 24px;
    height: 24px;
    display: flex;
    
	background-image: url('/images/icons/icon-attachment-blue.svg');
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: center;
}
.icon-attach[disabled] {
	opacity: .4;
	background-image: url('/images/icons/icon-attachment-gray.svg');
}


/* tab */
.nav-link.active {
	font-weight: 500;
}

.tab-pane {
	padding: 1rem 0;
}

/*
.modal-body {
	background:green;
}
.tab-pane {
	background: red;
}
*/

@media(min-width: 1024px) {
	.tab-pane {
		padding: 1rem;
	}
}
.tab-pane:has(.panel-box.multiple-tm) {
	padding: 0;
}

/* nav-pills */
.nav-pills {
	border: solid 1px var(--border-neutral-secondary);
	border-radius: var(--bs-border-radius);
	overflow: hidden;
	margin-bottom: .5rem;
}
.nav-pills .nav-link {
	border-radius: 0;
	background-color: var(--bg-default-default);
}
.nav-pills .nav-link:hover {
	background-color: var(--bs-link-hover-color);
	color: var(--text-default-white);
}

.nav-pills + .tab-content {
	height: calc(100% - 2.75rem);
}

.nav-pills + .tab-content .tab-pane {
	padding: 0;
	height: 100%;
}

/* nav-sm */
.nav-sm .nav-link {
	font-size: .875rem;
	padding: .5rem;
}

/* 알림박스 - 작은크기 추가 */
.alert.alert-sm {
	font-size: .875rem;
	padding: .5rem .75rem; 
}

/* table-responsive */
.table-responsive {
	border: solid 1px var(--border-neutral-secondary);
	border-radius: var(--bs-border-radius);
}

/* table */
.table {
	margin-bottom: 0;
}
.table th {
	font-weight: 500;
	position: relative;
}

.table th, 
.table td {
	vertical-align: middle;
	white-space: nowrap;
	text-align: center;
	padding: .5rem .75rem;
	border-right: solid 1px var(--border-neutral-secondary);
	border-bottom: solid 1px var(--border-neutral-secondary);

	color: var(--text-neutral-default);
}

.table td button {
	margin-left: auto;
	margin-right: auto;
}

.table tbody th [class*='material-'][disabled],
.table tbody td [class*='material-'][disabled] {
	opacity: .32;
	color: var(--text-disabled-default);
}

/* .view-table */

/* 2024.12.27 yjkim - facility/mainPano.do?iegTagno=13008810 스타일 수정

.view-table th,
.view-table td {
	vertical-align: top;
}
*/

.view-table td {
	white-space: normal;
	word-break: keep-all;
}

.view-table tbody td {
	text-align: left;
}

.table thead th {
	background-color: var(--bg-neutral-secondary);
	border-bottom: solid 1px var(--border-neutral-secondary);
}

.table tbody th {
	font-weight: 400;
	background-color: var(--bg-neutral-tertiary);
}

/*#################### jsTree Overriding ####################*/
.jstree-box > .jstree {
	width: 100%;
}
.jstree-loading > ul {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1rem;
}
.jstree-default>.jstree-container-ul .jstree-loading>.jstree-ocl {
    background-image: url(/images/icons/bouncing-circles.svg) !important;
    background-size: auto 32px;
    background-position: left top;
    width: 48px;
    height: 32px;
}

/*#################### 모델링 사용가이드 ####################*/
.unity-guide {
	display: none;
}
.unity-guide.show {
	display: block;
	width: 360px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 300;

	border: solid 1px var(--border-brand-tertiary);
	background-color: var(--bg-default-default);
}

.unity-guide-head {
	padding-left: 8px;
	padding-right: 8px;
	background-color: var(--bg-brand-default);

	display: flex;
	align-items: center;
	justify-content: space-between;
}
.unity-guide-head > * {
	min-height: 40px;
	display: inline-flex;
	align-items: center;
}
.unity-guide-head .title {
	font-size: 16px;
	font-weight: 500;
	color: var(--text-default-white);

	background: url('/images/icons/icon-view_in_ar-white.svg') no-repeat left center;
	background-size: 32px;
	padding-left: 48px;
}
.unity-guide-head .btn.close-guide {
	background: url('/images/icons/icon-close-white.svg') no-repeat center;
	background-size: 24px;
	width: 24px;
	height: 24px;
}

.unity-guide-body {
	padding: 16px;
}

.unity-guide-body > [class*='item0'] {
	background-repeat: no-repeat;
	background-position: left center;
	background-size: auto;

	padding: 4px 0 0 64px;
	font-size: 15px;
}

/* 모바일일때 */
.unity-guide-body {
	display: none;
}
body.touch-device .unity-guide-body.finger {
	display: block;
}

body.non-touch-device .unity-guide-body.mouse {
	display: block;
}

.unity-guide-body.finger .item01 {
	background-image: url('/images/icons/icon-finger1.svg');
}
.unity-guide-body.finger .item02 {
	background-image: url('/images/icons/icon-finger2.svg');
}
.unity-guide-body.finger .item03 {
	background-image: url('/images/icons/icon-finger3.svg');
}

.unity-guide-body.mouse .item01 {
	background-image: url('/images/icons/icon-mouse1.svg');
}
.unity-guide-body.mouse .item02 {
	background-image: url('/images/icons/icon-mouse2.svg');
}
.unity-guide-body.mouse .item03 {
	background-image: url('/images/icons/icon-mouse3.svg');
}

.unity-guide-body .item03 > p {
	margin-bottom: 0;
}

/*#################### 모델링 영역 ####################*/
#unity-container {
	position: fixed;
	width: 100%;
	height: calc(100% - var(--header-height-md));
	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-use-select: none;
	user-select: none;

	z-index: 1;
	background-color: #f6f7f9;
}

@media (min-width: 1600px) {
	#unity-container {
		height: calc(100% - var(--header-height));
	}
}

#unity-canvas {
	background-color: transparent !important;
	width: 100%;
	height: 100%;
}
	
