@charset "utf-8";

.form-check-label {
	cursor: pointer;
}

.form-control,
.form-select {
	border-color: var(--border-neutral-secondary);
}

.form-control:disabled,
.form-select:disabled {
	background-color: var(--bg-neutral-secondary);
}

/* search-box */
.search-box {
	padding: .5rem 1rem .75rem;
	margin-bottom: 1rem;
	background-color: var(--bg-neutral-tertiary);
	border: solid 1px var(--border-neutral-tertiary);
	border-radius: var(--bs-border-radius);
}

/* search-icon */
.search-icon {
	background-image: url("/images/icons/material-icon-search-gray.svg");
	background-size: auto;
	background-repeat: no-repeat;
	background-position: calc(100% - 8px) center;
}

.search-icon:hover,
.search-icon:focus {
	background-image: url("/images/icons/material-icon-search-blue.svg");
}

.form-control.search-icon {
	padding-right: 2rem;
}

.form-control.search-icon:disabled {
	background-image: none;
}

/* 기간검색 시작-종료 */
.row.period-box {
	justify-content: space-between !important;
}

.row.period-box>[class*='col']:has(input[type="date"]) {
	width: calc(50% - .5rem);
	max-width: calc(50% - .5rem);	
}

/* 간격 */
.search-box .form-label {
	padding: .25rem 0 0;
	margin-bottom: .25rem;
}

.search-box .row {
	align-items: flex-end;
	justify-content: flex-start;
}

.search-box .row {
	margin-right: calc(-.5 * .5rem);
	margin-left: calc(-.5 * .5rem);
}

.search-box .row>[class*='col'] {
	padding-left: .25rem;
	padding-right: .25rem;
}

.search-box .row > [class*='mb-3'] {
	margin-bottom: .25rem !important;
}

.search-box .row .row {
	margin-right: calc(-.25 * .25rem);
	margin-left: calc(-.25 * .25rem);
}

.search-box .row .row[class*='g-']>[class*='col'] {
	padding-left: .125rem;
	padding-right: .125rem;
}

.search-box .row .btn.btn-primary {
	margin-top: calc(.375rem + var(--bs-border-width));
	width: 100%;
	justify-content: center;
}

/* 2025.02.25 yjkim - 검색박스 간격 줄임 */
.search-box .row {
    --bs-gutter-y: 0;
}
.search-box .form-label {
	margin-bottom: .125rem;
	font-size: .875rem;
	font-weight: 700;
	display: inline-block;
}
.search-box .row.period-box .col-auto .form-control-plaintext,
.search-box .form-control,
.search-box .form-select,
.search-box .form-check,
.search-box .btn {
	min-height: calc(1.5em + .5rem + calc(var(--bs-border-width)* 2));
    padding: .25rem .5rem;
    font-size: .9375rem;
    border-radius: var(--bs-border-radius-sm);
}
.search-box .form-select {
	padding-right: 36px;
}
.search-box .row.period-box .col-auto .form-control-plaintext {
	padding: .25rem 0;
}
.search-box .btn {
	padding: .125rem .5rem;
}

.form-check .form-check-input {
    margin-left: 0;
    margin-right: .25rem;
}


/* 

@media (min-width: 992px) {
	.search-box .row {
		justify-content: center;
	}
}
@media (min-width: 1400px) {
	.search-box .row .btn.btn-primary {
		width: auto;
	}
	
}

@media (min-width: 1600px) {	
	.search-box [class*='col-']:has(.btn) {
		flex: 1 0 0%;
		width: 100%;
		text-align: right;
	}
}
@media (min-width: 1920px) {
	.search-box {
		padding: 1rem 16rem .25rem;
	}
} */

/* 레이블 */
/* 
.search-box [class*='col'] > [class*='col-form-label'] {
	display: inline-block;
	font-size: .875rem;
	font-weight: 500;
}
.search-box .form-control.search-icon {
	max-width: 7rem;
}
.search-box .form-control[disabled] {
	max-width: 5rem;
}
*/

/* page-move */
.page-move {
	display: flex;
	align-items: center;
}

.page-move .page {
	width: 5rem;
	
	padding: .125rem .5rem .125rem .5rem;
	margin-right: .5rem;
	text-align: right;
	height: 32px;
}

.page-move .total {
	padding-left: .25rem;
	padding-right: .5rem;
}

.page-move .btn,
.page-move+.btn-box > .btn {
	line-height: 1.125rem;
}

.page-move+.btn-box > .btn {
	margin-left: .25rem;	
}

.title-box > div:has(.btn-box) {
	flex-wrap: wrap;
}

@media(min-width: 1400px) {
	.title-box > div:has(.btn-box) {
		flex-wrap: nowrap;
	}
}


