@charset "utf-8";

/*#################### 메뉴 ####################*/

.icon-toggle {
	width: 48px;
	height: 48px;
	cursor: pointer;
	border: none;
	border: solid 1px var(--border-neutral-tertiary);
	background-color: var(--bg-neutral-tertiary);
	border-radius: .25rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

.icon-toggle:hover {
	background-color: var(--bg-neutral-secondary);
}
	
.toggle-box.menu .icon-toggle {
	background-color: var(--white-800);
	background-image: url(/images/icons/icon-menu-dark.svg);
	background-repeat: no-repeat;
	background-position: center;
}	
.toggle-box.menu.active .icon-toggle {
	background-color: var(--white-900);
	background-image: url(/images/icons/icon-close-dark.svg);
	background-repeat: no-repeat;
	background-position: center;
}

@media (min-width: 1600px) {
	
	.toggle-box.menu .icon-toggle {
		position: fixed;
		top: 1.25rem;
		left: 16rem;
	}

	.toggle-box nav {
		box-shadow: none;
	}

	.toggle-box.active.menu {
		box-shadow: var(--bs-box-shadow);
		height: calc(var(--header-height) - 1px);
		display: flex;
		position: fixed;
		top: var(--header-height);
		left: 0;
		right: 0;
	}
	.toggle-box.active.menu nav {
		width: 100%;
	}

	.toggle-box.active.menu nav ul {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
	.toggle-box.active.menu nav ul > li {
		padding-left: 2rem;
		padding-right: 2rem;
		height: 100%;
	}

}

	
/* CCTV hide - 모바일 기기에서 CCTV 사용안함 */
body.phone .toggle-box nav li:has(a[data-class="cctv"]),
body.tablet .toggle-box nav li:has(a[data-class="cctv"]),
body.ipad .toggle-box nav li:has(a[data-class="cctv"]),
body.iphone .toggle-box nav li:has(a[data-class="cctv"]) {
	display: none;
}

/* nav.menu-list */
nav {
	position: relative;
	width: 0;
	height: 0;

	overflow: hidden;
	transition: left 0.01s ease-in-out;
	box-shadow: var(--bs-box-shadow);
}

.toggle-box.active nav {
	width: var(--gnb-width);
	height: auto;
	background-color: #ffffffe8;
}

@media (max-height: 640px) and (orientation: landscape) {
	.toggle-box.active {
		bottom: 0;
	}
	.toggle-box.active nav {
		height: calc(100% - 48px);
		overflow-y: auto;
	}
}

nav ul > li {
	cursor: pointer;

	padding: 0 .75rem;
	/* height: 4.5rem;
	background-color: var(--bg-default-default); */
	border-bottom: solid 1px var(--border-neutral-tertiary);
}

nav ul > li > a {
	font-size: 1rem;
	font-weight: 500;
	background-size: 2rem;
	padding-left: 2.75rem;
}

nav ul > li > a small {
	font-size: 75%;
	font-family: "Roboto Medium";
	font-style: italic;

	color: var(--text-danger-tertiary);
	line-height: 1.2;
}

nav ul > li.active {
	background-color: var(--bg-brand-secondary);
}

/* 메뉴 아이콘 */
nav ul > li > a {
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 2rem;

	padding-left: 2.75rem;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-items: center;
	justify-content: center;
	
	transition: background-position .3s ease-in-out;
}

nav ul > li > a:hover {
	background-position: left 40%;
	color: var(--text-brand-secondary);
}

/* temp */
nav ul > li > a:hover {
	color: inherit;
}

nav ul > li > a {
	background-image: url("/images/icons/gnb-icon00.svg");
}

nav ul > li > a[data-class*="facility"] {
	background-image: url("/images/icons/gnb-icon01.svg");
}

nav ul > li > a[data-class*="tm"] {
	background-image: url("/images/icons/gnb-icon02.svg");
}

nav ul > li > a[data-class*="red-tag"] {
	background-image: url("/images/icons/gnb-icon03.svg");
}

nav ul > li > a[data-class*="prevention"] {
	background-image: url("/images/icons/gnb-icon04.svg");
}

nav ul > li > a[data-class*="apc"] {
	background-image: url("/images/icons/gnb-icon05.svg");
}

nav ul > li > a[data-class*="dashboard"] {
	background-image: url("/images/icons/gnb-icon06.svg");
}
/* 
nav ul > li > a[data-class*="i-plis"] {
	background-image: url("/images/icons/gnb-icon07.svg");
}
 */
nav ul > li > a[data-class*="cctv"] {
	background-image: url("/images/icons/gnb-icon08.svg");
}
nav ul > li > a[data-class*="panorama"] {
	background-image: url("/images/icons/gnb-icon09.svg");
}

/* 작업된 메뉴 표시 
nav ul > li > a[data-class] {
	color: var(--text-neutral-default);
}
*/

/* 모바일, 태블릿에서 CCTV 메뉴 가리기 */
body.phone nav ul li:has(a[data-title="CCTV"]), 
body.tablet nav ul li:has(a[data-title="CCTV"]), 
body.ipad nav ul li:has(a[data-title="CCTV"]), 
body.iphone nav ul li:has(a[data-title="CCTV"]) {
	display: none;	
}

