.op-info {
	position: fixed;
	top: 0;
	right: 0;
	
    height: var(--header-height-md);
    overflow: hidden;
}

@media (min-width: 1600px) {
    .op-info {
        height: var(--header-height);
    }
}

/* operation-status */
.operation-status {
	display: none;
}

.operation-status.visible {
	display: flex;
	flex-direction: column;
	
	position: fixed;
	top: 48px;
	right: 0;

	width: 100%;
	max-width: 400px;
	box-shadow: var(--bs-box-shadow);
	z-index: 2;
}

.operation-status.visible .info-box {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.operation-status.visible .info-box > ul {
	width:100%;
}

/* air */
.operation-status.visible .info-box.air > ul {
	margin-left: 0;
}

.operation-status.visible .info-box.air > ul > li span {
	font-size: 14px;
	font-weight: 700;
}

.operation-status.visible .info-box.air > ul > li span + span {
	margin-top: .125rem;
}

.operation-status.visible .info-box.air > ul > li strong {
	font-size: 16px;	
}

/* runtime, output */
.operation-status.visible .info-box.runtime ul,
.operation-status.visible .info-box.output ul {
	width: 100%;
}
.operation-status.visible .info-box.runtime ul > li,
.operation-status.visible .info-box.output ul > li {
	flex: 1 0 25%;
}

/* efficiency */
.operation-status.visible .info-box.efficiency ul {
	justify-content: flex-start;
}

.operation-status.visible .info-box.efficiency ul > li {
	flex: 1 0 50%;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	height: 36px;
}

.operation-status.visible .info-box.efficiency ul > li > strong {
	padding-left: .5rem;
}

/* tm */
.operation-status.visible .apc,
.operation-status.visible .tm {
	border-bottom: solid 1px var(--border-neutral-tertiary);
}

.operation-status.visible .tm ul {
	margin-left: 0;
	flex: 1 0 100%;
	width:100%;
}
.operation-status.visible .tm ul li {
	flex: 1 0 50%;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	min-height: 32px;
}

.operation-status.visible .tm ul li > span {
	margin-right: .5rem;
}

@media (min-width: 1600px) { 
	.btn-status {
		display: none;
	}
	.operation-status {
		display: flex;
		align-items: center;
		height: 100%;
	}
}

/* header common */
.info-box {
	display: flex;
	height: 100%;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;

	padding: 0 1rem;
	color: var(--text-default-white);
}

.info-box > .title {
	display: block;
	margin: 0 0 .5rem;

	font-family: var(--font-family);
	font-size: 15px;
	font-weight: 500;
}
.info-box > .title > small {
	font-size: 12px;
	font-weight: 700;
}

.info-box > ul {
	display: flex;
	align-items: center;
	justify-content: center;
}

.info-box > ul > li {
	display: flex;
	flex-direction: column;
	justify-items: center;
	justify-content: space-between;
	font-family: var(--font-family-en);
	padding: 0 .5rem;
	min-height: 36px;
}

.info-box > ul > li:first-child {
	padding-left: 0;
}
.info-box > ul > li:last-child {
	padding-right: 0;
}

.info-box > ul li:not(:last-child) {
	border-right: solid 1px var(--white-300);
}

.info-box span {
	font-family: var(--font-family-en);
	font-size: 12px;
	line-height: 1.2;
    white-space: nowrap;
}

.info-box strong {
	font-size: 16px;
	line-height: 1.2;
}

.info-box small {
	display: inline-flex;
	font-size: 13px;
}

/* apc */
.apc {
	color: var(--text-default-default);
	background-color: var(--bg-default-default);
}
.apc > ul {
	display: flex;
	align-items: center;
	justify-content: center;
}

.apc > ul > li {
	display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: row;
	
	position: relative;
	flex: 1 0 50%;
}

.apc > ul > li span {
	font-size: 14px;
	margin-left: .5rem;
}

.apc > ul > li strong {
	width: 36px;
	height: 36px;

	background-color: var(--bg-neutral-secondary);
	border-radius: 20px;
	overflow: hidden;

	font-family: var(--font-family-en);
	font-size: 18px;
	color: var(--text-neutral-default);

	display: flex;
	align-items: center;
	justify-content: center;
}

.apc > ul > li.danger strong {
	background-color: var(--bg-danger-default);
	color: var(--text-default-white);
}

.apc > ul > li.danger em {
	width: 16px;
	height: 16px;
	
	background-color: var(--bg-warning-default);
	border: solid 2px var(--bg-default-default);
	border-radius: 20px;
	overflow: hidden;

	position: absolute;
    top: 0;
    left: auto;
    transform: translate(-1.75rem, -0.25rem);
}

/* tm */
.tm,
.apc {
	color: var(--text-default-default);
	background-color: var(--bg-default-default);
	position: relative;
}

.tm::before,
.apc::before {
	content: '';
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 0;
	
	transform: translateY(-50%);
	
	width: 1px;
	height: 72%;
	border-left: solid 1px var(--border-neutral-tertiary);
}

.tm.info-box > ul > li {
	padding-left: 2.5rem;
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: 32px;
	flex: 1 0 auto;
}
.tm.info-box > ul > li:not(:first-child) {
	border-left: solid 1px var(--border-neutral-tertiary);
}
.tm.info-box > ul > li.icon01 {
	background-image: url("/images/icons/gnb-icon02.svg");
}
.tm.info-box > ul > li.icon02 {
	background-image: url("/images/icons/gnb-icon03.svg");
	background-position-x: .5rem;
	padding-left: 3rem;
}
@media (min-width: 1600px) and (max-width: 1720px) {
	.tm.info-box > ul > li {
		padding-left: 0;
	}
	.tm.info-box > ul > li.icon01,
	.tm.info-box > ul > li.icon02 {
		background-image: none;
	}
	.tm.info-box > ul > li.icon02 {
		padding-left: .5rem;
	}
}

/* air */
.air {
	background-color: var(--text-brand-tertiary);
}
.air.info-box > ul {
	width: 100%;
}
.air.info-box > ul li {
	padding-left: 2.5rem;
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: 32px;
	flex: 1 0 auto;
	justify-content: center;
} 

.air.info-box > ul li.icon01 {
	background-image: url("/images/icons/air-icon01.svg");
}

.air.info-box > ul li.icon02 {
	background-image: url("/images/icons/air-icon02.svg");
	background-position-x: .5rem;
	padding-left: 3rem;
}

.air.info-box > ul li.icon03 {
	background-image: url("/images/icons/air-icon03.svg");
	background-position-x: .5rem;
	padding-left: 3rem;
}

/* 화면이 좁은 경우, 아이콘 가림처리 */
@media (min-width: 1600px) and (max-width: 1780px) {
	.air.info-box > ul > li {
		padding-left: 0;
	}
	.air.info-box > ul > li.icon01,
	.air.info-box > ul > li.icon02,
	.air.info-box > ul > li.icon03 {
		background-image: none;
	}
	.air.info-box > ul > li.icon02,
	.air.info-box > ul > li.icon03 {
		padding-left: .5rem;
	}
}	
 
.air > ul > li p {
	margin-bottom: 0;
	font-family: var(--font-family);
	font-size: .75rem;
	font-weight: 400;
}

/* runtime 
.runtime {
	background-color: var(--text-brand-tertiary);
}*/

/* output */
.output {
	background-color: var(--text-brand-secondary);
}

/* efficiency */
.efficiency {
	background-color: var(--text-brand-default);
}
/* 
.efficiency.info-box > ul > li {
	background-repeat: no-repeat;
	background-size: 32px;
	height: 100%;

	padding-left: 2.5rem;
	background-position: left center;
}
.efficiency.info-box > ul > li.icon01 {
	background-image: url("/images/icons/efficiency-icon01.svg");
}

.efficiency.info-box > ul > li.icon02 {
	background-image: url("/images/icons/efficiency-icon02.svg");
	background-position-x: .5rem;
	padding-left: 3rem;
}
 */

/* account */
.account {
	background-color: var(--blue-800);
}
.account .title {
	display: flex;
	align-items: baseline;
    justify-content: center;

    padding: .25rem 0;
}
.account .title strong {
	margin-right: .5rem;
	font-size: 12px;
}

.account .text-box {
	display: flex;
	align-items: center;
    justify-content: space-between;
    
    width: 100%;
    height: 36px;
}

.account .text-box > span {
	color: var(--text-default-white);
}

.account .text-box strong {
	margin-right: .5rem;
}

.account .text-box .logout {
	margin-left: 1rem; 
	
	display: inline-flex;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	
	background-color: var(--bg-brand-default);
	
	background-image: url('/images/icons/icon-logout-white.svg');	
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18px;
	
	cursor: pointer;
}

.account .text-box .logout:hover {
	background-color: var(--bg-brand-defaulthover);
}

