@charset "utf-8";

/*#################### 우측패널 ####################*/
.right-box {
	display: none;
}

.right-box .icon-hide {
	display: none;
}

/* 1600px 초과 시 오른쪽 위치 조정
@media (min-width: 1600px) {
	.side-panel {
		right: calc((100vw - 1600px) * -1);
	}
} 
*/

.account-box,
.apc-total,
.today-box {
	background-color: var(--bg-default-default);	
	overflow: hidden;
}

@media (min-width: 1600px) {
	.right-box {
		display: block;
	
		position: absolute;
		top: 15rem;
		z-index: 100;

		padding: 1rem;
	}

	.account-box,
	.apc-total,
	.today-box {
		box-shadow: var(--bs-box-shadow);
		border-radius: 32px;
		width: 180px;
		margin-bottom: 1rem;
	}
	
	/* right-box show/hide */
	.right-box .icon-hide {
		position: absolute;
		right: -48px;
		top: 50%;
		margin-top: -24px;
		
		display: flex;
		align-items: center;
		justify-content: center;
		
		width: 3rem;
		height: 3rem;
		border-radius: 1.5rem;
		
		background-color: var(--black-200);
		cursor: pointer;
	}
	
	.right-box .icon-hide:hover {
		background-color: var(--black-400);
	}
	
	.right-box.off {
		padding: 0;
		margin: 1rem;
	}
	
	.right-box.off .account-box,
	.right-box.off .apc-total,
	.right-box.off .today-box {
		display: none;
	}
	
	.right-box.off .icon-hide {
		border-radius: 0;
		margin-top: 0;
        box-shadow: var(--bs-box-shadow);
        background-color: var(--bg-brand-darkhover);
	}
}

.right-box .title {
	font-size: 14px;
	font-weight: 500;
}

/* account */
.account-box {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: .5rem .5rem;
	background: #fff url('/images/icons/icon-id-card.svg') no-repeat .5rem center;
	background-size: 32px;
	padding-left: 3rem;
}

.account-box span {
	font-size: .875rem;
	line-height: 1.4;

	display: flex;
	flex-direction: column;
	justify-content: center;
}
.account-box a {
	font-size: 0;
	width: 36px;
	height: 36px;

	border-radius: 50%;

	background-image: url('/images/icons/icon-logout.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px;
	background-color: var(--bg-brand-tertiaryhover);
}

.account-box a:hover {
	background-color: var(--bg-brand-secondary);
}

/* apc */
.apc-total {	
	padding: .5rem .5rem 1rem;
	height: 144px;
}
.apc-total .title {
	background-color: var(--bg-neutral-tertiary);
	border-radius: 1000px;
	overflow: hidden;

	background-image: url("../images/icons/apc-icon01.svg");
	background-position: .5rem center;
	background-repeat: no-repeat;
	background-size: 32px;

	padding-left: 3rem;
	height: 3rem;
	margin-bottom: 1.5rem;

	display: flex;
	align-items: center;
}

.apc-total > ul {
	display: flex;
	align-items: center;
	justify-content: center;
}

.apc-total > ul > li {
	display: flex;
	align-items: center;
	justify-content: center;
	
	position: relative;
	flex: 1 0 50%;
}

.apc-total > ul > li span {
	font-size: 14px;
	margin-right: .5rem;
}

.apc-total > ul > li strong {
	width: 36px;
	height: 36px;

	background-color: var(--bg-neutral-secondary);
	border-radius: 20px;
	overflow: hidden;

	font-family: var(--font-family-en);
	font-size: 18px;
	color: var(--text-neutral-default);

	display: flex;
	align-items: center;
	justify-content: center;
}

.apc-total > ul > li.danger strong {
	background-color: var(--bg-danger-default);
	color: var(--text-default-white);
}

.apc-total > ul > li.danger em {
	width: 16px;
	height: 16px;
	
	background-color: var(--bg-warning-default);
	border: solid 2px var(--bg-default-default);
	border-radius: 20px;
	overflow: hidden;

	position: absolute;
    top: -0.375rem;
    left: 60%;
	transform: translateX(55%);
}

/* today */
.today-box {
	background-image: url("../images/icons/today-icon01.svg");
	background-repeat: no-repeat;
	background-position: 1rem center;
	background-size: 32px;

	height: 56px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding-left: 3.5rem;
    padding-right: 1rem;
}
.today-box .title {
	color: var(--text-brand-tertiary);
	margin-bottom: 0;
	line-height: 1;
}

.today-box > div {
	display: flex;
	align-items: center;

	font-family: var(--font-family-en);
	font-size: 12px;
}

.today-box .date {
	font-weight: 500;
	padding-right: .25rem;
}

.today-box .day {
	font-weight: 500;
	margin-right: .25rem;
}

.today-box .time {
	font-weight: 400;
}

