@charset "utf-8";

/* 
 * POMIT reset.css
 * 2023-06-02
 * 부트스트랩 이전에 적용되어야 하는 스타일만 정의하고 나머지 스타일은 common.css 에 정의한다
 */
 
button[type='button'] {
	border-width: 0;
}

ul,
ol {
	padding: 0;
	margin: 0;
	list-style: none;
}

li {
	padding: 0;
	margin: 0;
}

.box-shadow-light {
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
}
.box-shadow-medium {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
}
.box-shadow-large {
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.08);
}

small {
	font-weight: 400 !important;
}

strong {
	font-weight: 700;
}

.alert {
	padding: .75rem 1rem;
}

/* 모든 브라우저에서 스핀버튼 제거 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* firefox에서 스핀버튼 제거 */
input[type="number"] {
	-ㅡmoz-appearance: textfield;
}

input[type="date"] {
	background-image: url('/images/icons/icon-calendar.svg');
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: right 12px center;
}

input[type="time"] {
	background-image: url('/images/icons/icon-schedule.svg');
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: right 14px center;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
	margin-left: .5rem;
}

/* line-clamp */
.line-clamp {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.line-clamp.single {
	-webkit-line-clamp: 1;
}

.line-clamp.double {
	-webkit-line-clamp: 2;
}

.d-none {
	display: none !important;
}

#viewport-info {
	position: fixed;
	left: 0;
	bottom: 4rem;

	padding: .5rem .75rem;
	font-size: 14px;
	font-weight: 500;
	background-color: var(--blue-200);
	
	z-index: 300;
	cursor: pointer;
}

#viewport-info.hide {
	width: 2rem;
	height: 2rem;
	overflow: hidden;
	text-indent: -9999em;
	
	padding: 0;
}

#viewport-info::after {
	content: '';
	display: flex;
	
	position: absolute;
	top: 0;
	right: 0;
	
	width: 2rem;
	height: 2rem;
	background-color: var(--black-200);
	overflow: hidden;
	
	background-image: url('/images/icons/icon-remove-gray.svg');
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
}

#viewport-info.hide::after {
	background-color: white;
	background-image: url('/images/icons/icon-add-gray.svg');
}

#viewport-info {
	display: none !important;
}

/* 인덱스 로딩 박스 */
/* HTML: <div class="loading-box"><div class="loader"></div></div> */
.loading-box {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: rgba(255, 255, 255, 0.4);
	z-index: 9999;

	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}
.loader {
	width: 64px;
	aspect-ratio: 1;
	border-radius: 50%;
	background: 
	radial-gradient(farthest-side,#0060A9 94%,#0000) top/8px 8px no-repeat,
	conic-gradient(#0000 32%,#0060A9);
	-webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
	animation: l13 1s infinite linear;
}

@keyframes l13{ 
	100%{transform: rotate(1turn)}
}

@media(min-width: 1440px) {
	.loader {
		width: 128px;
		background: 
		radial-gradient(farthest-side,#0060A9 94%,#0000) top/12px 12px no-repeat,
		conic-gradient(#0000 32%,#0060A9);
		-webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 12px),#000 0);
	}
}

/* focus */
*:focus:not(:focus-visible) {
	outline: none;
	box-shadow: none;
}



