@charset "utf-8";

/* 
 * 포미트 - 서부 iPOS 공통 스타일시트
 * 작성자 : 김윤지
 * 작성일 : 2024.11.14
 * 내용 : 테이블 단위 개별 스타일 설정 - 높이, 텍스트 정렬 등
 * 
 */
.table.table-sm th,
.table.table-sm td {
	padding-top: .25rem;
	padding-bottom: .25rem;
	font-size: .9375rem;
	line-height: 1.4;
}

/* view-table */
.table.view-table tbody tr th,
.table.form-table tbody tr th,
.table.view-table tfoot tr th,
.table.form-table tfoot tr th {
	background-color: var(--bs-tertiary-bg);
	text-align: right;
	padding: 0.5rem 1rem;
}

.table.view-table tbody tr th:not(:first-child),
.table.form-table tbody tr th:not(:first-child) {
	border-left: solid 1px var(--border-neutral-secondary);
}

.table.view-table tbody tr th,
.table.form-table tbody tr th {
	border-right: solid 1px var(--border-neutral-tertiary);
}

.table.view-table tbody tr td,
.table.form-table tbody tr td {
	min-width: 160px;
}

/* 폼테이블에만 적용 */
.table.form-table th,
.table.form-table td {
	vertical-align: middle;
}

.table.form-table td {
	text-align: left;
}

.table.form-table .form-label,
.table.form-table .form-check {
	margin-bottom: 0;
}

.table.form-table .btn.btn-icon {
	width: 38px;
	height: 38px;
	display: flex;
	align-items: center;
	justify-content: center;	
}

/* 반응형 테이블 높이 설정 */
/* 10개 행 높이 - 400px */
.table-responsive {
	/* TM 현황에 10개씩 불러오는 테이블 기준
	min-height: 240px; */
	overflow-y: auto;
	margin-bottom: 1rem;
	
	background-color: var(--bg-neutral-tertiary);
}

/*
@media(min-width: 1400px) {
	.table-responsive {
		height: 400px;
	}
	.table-responsive:has(.view-table),
	.table-responsive:has(.form-table) {
		height: auto;
	}
}
*/

/* 공통 */

/* 반응형테이블 고정 헤더 & 칼럼 */
/* thead, tbody th 스크롤시 고정 */
.table thead {
	position: sticky;
	top: 0;
	z-index: 100;
	background-color: var(--bg-neutral-secondary);
}

/* tbody의 첫 번째 칼럼 배경색 설정
.table.sticky thead th {
	position: sticky;
	left: 0;
	background-color: var(--bg-neutral-secondary);
	border-color: var(--border-neutral-secondary);
}

.table.sticky tbody th {
	position: sticky;
	left: 0;
	background-color: var(--bg-neutral-tertiary);
	border-color: var(--border-neutral-tertiary);
}
*/

/* 테이블 소팅 기능 */
.table .sort {
	background-repeat: no-repeat;
	background-size: 32px;
	background-position: right 0 center;
	
	padding-right: 2rem;
	cursor: pointer;
}

.table .sort.icon-up {
	background-image: url("/images/icons/icon-arrow-up-gray.svg");
}
.table .sort.icon-up.active {
	background-image: url("/images/icons/icon-arrow-down-blue.svg");
}
.table .sort.icon-down {
	background-image: url("/images/icons/icon-arrow-down-gray.svg");
}
.table .sort.icon-down.active {
	background-image: url("/images/icons/icon-arrow-down-blue.svg");
}

/* 테이블 합계 */
.table tbody tr.total th {
	font-weight: 700;
	text-align: left;
}
.table tbody tr.total td {
	font-weight: 700;
    background-color: var(--bg-brand-tertiary);
}

/* 테이블 내 텍스트 긴 경우 ... 처리 text-ellipsis */
.table:not(.view-table) tbody [data-field="오더명"],
.table:not(.view-table) tbody [data-field="요청명"],
.table:not(.view-table) tbody [data-field="설비명"],
.table:not(.view-table) tbody [data-field="대상기기명"] {
	min-width: 400px;
	/* max-width: 360px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap; */
	max-width: 640px;
	white-space: normal;
	word-break: break-all;
}
.table:not(.view-table) tbody [data-field="증상"] {
	min-width: 6rem;
	white-space: normal;
	word-break: keep-all;	
}

.table:not(.view-table) tbody [data-field="설비번호"] {
	width: 100px;
}

/* text-align */
.table tbody [data-field="품명및규격"],
.table tbody [data-field="요청부서"],
.table tbody [data-field="감독부서"],
.table tbody [data-field="Tag번호"],
.table tbody [data-field="오더명"],
.table tbody [data-field="정비부서"],
.table tbody [data-field="대상기기번호"],
.table tbody [data-field="요청명"],
.table tbody [data-field="설비명"],
.table tbody [data-field="점검명"],
.table tbody [data-field="점검부위"],
.table tbody [data-field="포함설비명"],
.table tbody [data-field="태그"],
.table tbody [data-field="상세정보"],
.table tbody [data-field="대상기기명"],
.table[aria-label="오더종류-데이터"] tbody [data-field="상태"],
.table[aria-label="오더종류-데이터"] tbody [data-field="작업명"],
.table[aria-label="공사종류-데이터"] tbody [data-field="공사내용"],
.table[aria-label="운전정보"] tbody [data-field="태그"],
.table[aria-label="apc이력"] tbody [data-field="장소"],
.table[aria-label="CCTV-리스트"] tbody [data-field="CCTV-명"],
.table[aria-label="CCTV-리스트"] tbody [data-field="위치"],
.table[aria-label="작업요청건수"] tbody [data-field="호기"],
.table[aria-label="작업요청처리현황"] tbody [data-field="구분(호기명)"],
.table[aria-label="점검종류-결과"] tbody [data-field="DESC"],
.table[aria-label="점검보고서-리스트"] tbody [data-field="제목"] {
	text-align: left;
}

.table[aria-label="자재정보"] tbody [data-field="연간소요량"],
.table[aria-label="자재정보"] tbody [data-field="총누적소요량"],
.table[aria-label="작업요청건수"] tbody td,
.table[aria-label="작업요청처리현황"] tbody td,
.table tbody [data-field="설계재료비"],
.table tbody [data-field="설계노무비"],
.table tbody [data-field="설계경비"],
.table tbody [data-field="설계금액계"],
.table tbody [data-field="실적재료비"],
.table tbody [data-field="실적노무비"],
.table tbody [data-field="실적경비"],
.table tbody [data-field="실적금액계"] {
	text-align: right;
}

.table-responsive:has(.table[aria-label="점검종류-결과"]) {
	 height: calc(100% - 219px - 1rem);
	 margin-bottom: 0;
}

@media(min-width: 768px) {
	.table-responsive:has(.table[aria-label="점검종류-결과"]) {
		 height: calc(100% - 108px - 1rem);
	}
}

/* facility */
.table-responsive:has([aria-label="설비정보"]),
.table-responsive:has([aria-label="정비이력"]),
.table-responsive:has([aria-label="자재정보"]) {
	height: 320px;
}

.table-responsive:has([aria-label="TM-이력"]),
.table-responsive:has([aria-label="운전정보"]) {
	max-height: 608px;
}

/* 설비상세 테이블에만 적용 */
.modal.facility .view-table tr:first-child th {
	background-color: var(--bg-neutral-secondary);
	font-weight: 700;
}
.modal.facility .view-table tr:first-child td {
	background-color: var(--bg-neutral-tertiary);
	font-weight: 700;
}

.modal.facility .view-table tbody td {
	text-align: left;
}
.table-responsive:has(.table[aria-label="설비목록"]) {
	height: 460px;
}
.table-responsive:has(.table[aria-label="설비목록"]) tbody [data-field="설비명"] {
	white-space: wrap;
	word-break: keep-all;
}

.table-responsive:has([aria-label="포함설비목록"]) {
	height: 160px;
}

.table[aria-label="설비정보"] td > button {
	display: inline-flex;
    padding: .125rem .5rem;
	margin-left: .125rem;
	margin-right: .125rem;
}

/*
.table tr > [data-field="첨부"] > .material-symbols-rounded {
    font-size: 16px;
}
.table td > button.btn.btn-sm > [class*='material-symbols-'] {
    font-size: 16px;
}

.table td > button.btn.btn-sm {
	font-size: .875rem;
	padding: .125rem .5rem;
}
*/

.table[aria-label="CCTV-리스트"] td > button.btn.btn-sm .icon-cctv {
	background-size: 16px;
	padding-left: 1.25rem;	
}

.table[aria-label="설비정보"] .btn.disabled,
.table[aria-label="설비정보"] .btn span + span {
	display: none;
}

/* TM 현황 -  1개 행 높이 " 458px
.table-responsive:has(.table[aria-label="다발-TM현황"]) {
	height: 458px;
}
*/

.table[aria-label="다발-TM현황"] thead th {
	max-width: 6rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.table-responsive:has(.table[aria-label="작업요청건수"]),
.table-responsive:has(.table[aria-label="작업요청처리현황"]) {
	height: 236px;
}

/* red tag*/
.table-responsive:has(.table[aria-label="작업오더"]) {
	height: 240px; 
}
.table-responsive:has(.table[aria-label="작업오더-설계-내용"]),
.table-responsive:has(.table[aria-label="Red-Tag-출력-리스트"]) {
	height: 160px; 
}

/* prevention > 01 정비비용 고장경향분석 */
.table-responsive:has(.table[aria-label="정비비용-고장-경향정보"]) {
	height: auto;
}

/* prevention > 02 점검보고서 */
.table-responsive:has(.table[aria-label="점검보고서-리스트"]) {
	height: 200px; 
}
.table-responsive:has(.table[aria-label="점검보고서-상세내용"]),
.table-responsive:has(.table[aria-label="점검보고서-상세내용-점검결과"]) {
	height: 128px; 
}

/* prevention > 03 점검결과 */
.table-responsive:has(.table[aria-label="점검결과-리스트"]) {
	height: 200px;
}
.table-responsive:has(.table[aria-label="점검종류-리스트"]),
.table-responsive:has(.table[aria-label="점검내용-리스트"]) {
	height: 128px;
}

/* prevention > 04 점검결과(Chart) */
.table-responsive:has(.table[aria-label="점검결과(Chart)-리스트"]) {
	height: 232px;
}

.table-responsive:has(.table[aria-label="점검종류(Chart)-리스트"]) {
	height: 156px;
}

.table-responsive:has(.table[aria-label="점검내용(Chart)-리스트"]) {
	height: 447px;
}

/* prevention > 05 이상점검결과
.table-responsive:has(.table[aria-label="이상점검결과-리스트"]) {	
}
*/

/* prevention > 06 미점검일정 */

/* CCTV */
.table-responsive:has(.table[aria-label="CCTV-리스트"]) {
	height: auto;
}

/* APC - 452px 10개의 행 */
.table-responsive:has(.table[aria-label="apc이력"]) {
	height: auto;
}

/* 행 클릭시 tr 표시 */
.table[aria-label="설비정보"] tbody tr,
.table[aria-label="포함설비목록"] tbody tr,
.table[aria-label="정비이력"] tbody tr,
.table[aria-label="고장이력"] tbody tr,
.table[aria-label="자재정보"] tbody tr,
.table[aria-label="TM-이력"] tbody tr,
.table[aria-label="작업요청확정"] tbody tr,
.table[aria-label="다발-TM현황"] tbody tr,
.table[aria-label="미결-TM현황"] tbody tr,
.table[aria-label="작업요청건수"] tbody tr,
.table[aria-label="작업요청처리현황"] tbody tr,
.table[aria-label="점검보고서-리스트"] tbody tr,
.table[aria-label="점검보고서-상세내용"] tbody tr,
.table[aria-label="점검결과-리스트"] tbody tr,
.table[aria-label="점검종류-리스트"] tbody tr,
.table[aria-label="점검결과(Chart)-리스트"] tbody tr,
.table[aria-label="점검종류(Chart)-리스트"] tbody tr,
.table[aria-label="작업오더"] tbody tr,
.table[aria-label="작업오더-설계-내용"] tbody tr,
.table[aria-label="설비목록"] tbody tr {
	cursor: pointer;
}

/* 대표설비 */
.modal.facility .view-table[aria-label="설비상세"] .main-equipment th {
    color: var(--text-neutral-secondary);
    background-color: var(--bg-neutral-secondary);
}
.modal.facility .view-table[aria-label="설비상세"] .main-equipment td {
    color: var(--text-neutral-tertiary);
    background-color: var(--bg-neutral-tertiary);
}

/* 단계별 테이블 스타일 */
.table tbody tr:hover > * {
	background-color: var(--bg-brand-tertiary);
}

.table.form-table tbody tr:hover > *,
.table.view-table tbody tr:hover > * {
	background-color: transparent;
}

.table tbody tr.active > * {
	background-color: var(--bg-brand-tertiaryhover);
}

/* TM 이력 */
.table[aria-label="작업요청확정"] tbody [data-field="요청부서"] {
	min-width: 10rem;
}

@media (min-width: 1400px) {
	.modal.tm .tab-content:has(.multiple-tm) {
		height: calc(100% - 42px);
	}

	.modal.tm .tab-pane:has(.multiple-tm) {
		padding: 0;
		height: 100%;
	}

	.modal.tm .panel-box.multiple-tm {
		height: 100%;
	}
}



